/* ------------------------------------------------------------------ *\
Component: Helpers;
Version: 1.0.0;
Author: Josh Benham;
Author URI: http://github.com/joshbenham;

Additional helper classes
\* ------------------------------------------------------------------ */


/* GENERIC ---------------------------------------------------------- */
