/* ------------------------------------------------------------------ *\
Component: Helpers;
Version: 1.0.0;
Author: Josh Benham;
Author URI: http://github.com/joshbenham;

Additional helper classes
\* ------------------------------------------------------------------ */


/* GENERIC ---------------------------------------------------------- */


/* CLEARFIX --------------------------------------------------------- */


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
