/* ------------------------------------------------------------------ *\
Component: Layout;
Version: 1.0.0;
Author: Traffic;
Author URI: http://traffic.com.au/;

Base styles for the layout
\* ------------------------------------------------------------------ */

/* Generic ---------------------------------------------------------- */