/* ------------------------------------------------------------------ *\
Component: Modules;
Version: 1.0.0;
Author: Josh Benham;
Author URI: http://github.com/joshbenham;

Base styles for the modules
\* ------------------------------------------------------------------ */


/* GENERIC ---------------------------------------------------------- */
