/* ------------------------------------------------------------------ *\
Component: Helpers;
Author: Josh Benham;
Author URI: http://github.com/joshbenham;

Additional helper classes
\* ------------------------------------------------------------------ */


/* GENERIC ---------------------------------------------------------- */


.full-width { width: 100%; }

.end { margin-bottom: 0; }


/* RESPONSIVE IMAGES ------------------------------------------------ */


.rimg {

	img {
		width: 100%;
	}

	&.rimg-placeholder {
		display: block;
	}

}


/* TABLES ----------------------------------------------------------- */


.table {
	display: table;
}

.table--row {
	display: table-row;
}

.table--cell {
	display: table-cell;
}

.table--middle {
	vertical-align: middle;
}

@media only screen and (max-width: $small-screen - 1) {
	.mobile--table {
		display: table;
	}

	.mobile--table--row {
		display: table-row;
	}

	.mobile--table--cell {
		display: table-cell;
	}

	.mobile--table--middle {
		vertical-align: middle;
	}
}


/* ALIGNMENT -------------------------------------------------------- */


@media only screen and (max-width: $small-screen - 1) {
	.right-for-small { float: right; }
	.left-for-small { float: left; }
	.text-right-for-small { text-align: right; }
	.text-left-for-small { text-align: left; }
}

@media only screen and (min-width: $small-screen) {
	.right-for-large { float: right; }
	.left-for-large { float: left; }
	.text-right-for-large { text-align: right; }
	.text-left-for-large { text-align: left; }
}


/* CLEARFIX --------------------------------------------------------- */


.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
