/* ------------------------------------------------------------------ *\
Component: Scaffold;
Author: Josh Benham;
Author URI: http://github.com/joshbenham;

Base styles and includes for foundation
\* ------------------------------------------------------------------ */


/* GENERIC ---------------------------------------------------------- */



/* SCAFFOLD --------------------------------------------------------- */


.header {

	padding: 20px 0;
	background: $secondary-color;
	border-bottom: 1px solid $section-border-color;

	ul {
		height: 66px;
		margin-bottom: 0;
		line-height: 66px;
		list-style-type: none;
	}

}

.content {

	.row .columns,
	[class*="block-grid-"] > li {
		padding-top: 8px;
		padding-bottom: 8px;
		font-size: 13px;
		font-weight: bold;
		text-indent: 3px;
		color: $body-font-color;
		background: $secondary-color;
		border: 1px solid $section-border-color;
	}

}

.sidebar {

	ul {
		list-style-type: none;
	}

}

.footer {

	padding: 20px;
	background: $secondary-color;
	border-top: 1px solid $section-border-color;

	ul {
		list-style-type: none;
	}

}
