/* ------------------------------------------------------------------ *\
Component: Helpers;
Version: 1.0.0;
Author: Josh Benham;
Author URI: http://github.com/joshbenham;

Additional helper classes
\* ------------------------------------------------------------------ */


/* GENERIC ---------------------------------------------------------- */


.full-width {
	width: 100%;
}

.end {
	margin-bottom: 0;
}


/* RESPONSIVE IMAGES ------------------------------------------------ */


.rimg {

	img {
		width: 100%;
	}

	&.rimg-block {
		display: block;
	}

}


/* GRID ------------------------------------------------------------- */


@media only screen and (max-width: $small-screen - 1) {
	.small-0 { display: none; }
}

@media only screen and (min-width: $small-screen) {
	.large-0 { display: none; }
}


/* ALIGNMENT -------------------------------------------------------- */


@media only screen and (max-width: $small-screen - 1) {
	.right-for-small { float: right; }
	.left-for-small { float: left; }
	.text-right-for-small { text-align: right; }
	.text-left-for-small { text-align: left; }
}

@media only screen and (min-width: $small-screen) {
	.right-for-large { float: right; }
	.left-for-large { float: left; }
	.text-right-for-large { text-align: right; }
	.text-left-for-large { text-align: left; }
}


/* CLEARFIX --------------------------------------------------------- */


.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}
