/* ------------------------------------------------------------------ *\
Component: Layout;
Version: 1.0.0;
Author: Josh Benham;
Author URI: http://github.com/joshbenham;

Base styles for the layout
\* ------------------------------------------------------------------ */


/* GENERIC ---------------------------------------------------------- */


/* HEADER ----------------------------------------------------------- */


.header {

	.logo {

		span { display: block; }
	}

}


/* MAIN ------------------------------------------------------------- */


.main {

}


/* FOOTER ----------------------------------------------------------- */


.footer {

}
