/* ------------------------------------------------------------------ *\
Component: Layout;
Version: 1.0.0;
Author: Josh Benham;
Author URI: http://github.com/joshbenham;

Base styles for the layout
\* ------------------------------------------------------------------ */


/* GENERIC ---------------------------------------------------------- */


/* HEADER ----------------------------------------------------------- */


.header {

	.logo {
		@include inline-block;
		width: 135px;
		height: 66px;
		background-image: url(images/logo.png);

		span { display: none; }
	}

}


/* MAIN ------------------------------------------------------------- */


.main {

}


/* SIDEBAR ---------------------------------------------------------- */


.sidebar {

}


/* FOOTER ----------------------------------------------------------- */


.footer {

}
