/* ------------------------------------------------------------------ *\
Mixin: Icons;
Author: Josh Benham;
Author URI: http://github.com/joshbenham;

Mixin to create icons
\* ------------------------------------------------------------------ */


/* ICONS ------------------------------------------------------------ */


$icons:
	'googleplus' '\e000',
	'facebook' '\e001',
	'linkedin' '\e002',
	'twitter' '\e003',
	'youtube' '\e004'
;


/* FUNCTION --------------------------------------------------------- */
/* http://jaydenseric.com/blog/fun-with-sass-and-font-icons --------- */

@mixin icon($position: 'before', $styles: true, $icon: false) {
	// Either a :before or :after pseudo-element, defaulting to :before
	&:#{$position} {
		@if $icon {
			// Icon has been specified
			content: match($icons, $icon);
		}
		@if $styles {
			// Supportive icon styles have been specified
			speak: none;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-transform: none;
			line-height: 1;
			font: {
				style: normal;
				variant: normal;
				weight: normal;
				family: 'Icons';
			}
		}
		// Include any extra rules supplied for the pseudo-element
		@content;
	}
}
