/* ------------------------------------------------------------------ *\
Component: Paginations;
Author: Josh Benham;
Author URI: http://github.com/joshbenham;

Base styles for the Paginations
\* ------------------------------------------------------------------ */


/* DEFAULT ---------------------------------------------------------- */


.pagination {

	display: block;

	.pagination__next {

	}

	.pagination__previous {

	}

}
